*{
    margin: 0;
    padding: 0;
    @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap');
}
.navbar{
    display: flex;
    height: 60px;
    /* background-color: black; */
    position: sticky;
    top: 0;
    /* overflow: hidden; */
}

.nav-left{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 15px;
}
.nav-left .logo img{
    width: 40px;
    height: 40px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 2px 10px;
}

ul{
    display: flex;
    align-items: center;
    
}

 ul li{
     display: flex; 
     justify-content: center; 
     align-items: center; 
     color: black; 
    list-style: none; 
    padding: 2px 15px;  
    margin-left: 20px;
   
    
}
  ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
    
    
}
ul li a:hover{
    color: gray;
}
  .nav-right{
     width: 40%;
     text-align: right;
     padding: 5px 10px;      
 }
 

 @media only screen and (max-width: 780px) {
    .navbar{
        flex-direction: column;
   
    }
    .nav-left logo{
        flex-direction: column;
    }
    ul{
        flex-direction: column;
    }
    
  }
  

 .background{
     background: rgb(0,0,0,0) url('./images/backgroundimage.jpg');
     background-size: cover;
     background-blend-mode: darken;
 }
 .firstSection{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     height: 100vh;

 }
.firstSection h1{
    margin-top: -450px;
    font-family: 'Ubuntu', sans-serif;
}
.align-items-center {
    text-align: center;
    margin-top: 50px;
}
/* services section */
#services {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services #library-button{
margin-left: 0;
width: 30%;
border: 2px solid rgb(253, 251, 251);
}
#services .btn{
    margin-top: 40px;
    border: 2px solid rgb(253, 251, 251);
    border-radius: 25px;
    padding: 5px 30px;
    cursor: pointer;
    width: 40%;
    margin-left: 20%;
    
    
}
#services .card-divider {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

#services .worksheet{
    height: 200px;
    margin-top: 50px;
}
/* #services .card-divider .btn{ */
    /* margin-left: 25%; */
    /* width: 40%; */
/* } */

/* video section */
#videos{
    background-color: pink;
    height: 600px;
    
   
}
#videos .btn{
    
    margin-top: 50px;
    border: 2px solid rgb(253, 251, 251);
    border-radius: 25px;
    padding: 5px 30px;
    cursor: pointer;
}
#community{
    background-color: gray;
       
}

#community img{
    width: 200px;
    height: 150px;
    border-radius: 50%;
    margin-top: 15px;
    margin-bottom: 15px;
    /* margin-left: 20%; */
    
}

#community h3 span{
    color: rgb(30, 95, 214);

}
#community h3, span{
    /* margin-left: 30px; */
}

/* .quotes-collection { */
    /* background-color: #a3aecf; */
    /* display: inline-block; */
    /* margin-bottom: 70px; */
    /* margin-top: 30px; */
    /* border-radius: 18px; */
    /* max-width: 1130px; */
    /* height: 450px; */
/* } */
.quotes-section .quotes-collection {
    background-color: #6380d6;
    display: inline-block;
    margin-bottom: 70px;
    border-radius: 8px;
    max-width: 1130px;
}
.quotes-collection .quotes {
    width: 100%;
}
.quote{
    margin-right: 350px;
    }
.quote .single-quote-container{

    max-width: 800px;
    position: relative;
    background: #fff;
    border-radius: 15px;
    margin: 40px 25px 0;
    border: 1px solid #fff;

}
.quote .quote-triangle.left::before {
    border-left: 15px solid transparent;
    border-right: 15px solid #fff;
    left: 29px;
}
.quote .quote-triangle::after, .quote .quote-triangle::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 12px solid #fff;
    border-bottom: 12px solid transparent;
}


.quote .quote-triangle::before {
    bottom: -24px;
}

.quote .quote-message {
    font-size: 20px;
    color: #464646;
    text-align: left;
    padding: 15px;
}
.quote .quote-triangle.left::after {
    border-left: 15px solid transparent;
    border-right: 14px solid #fff;
    left: 29px;
}
.quote .quote-triangle::after {
    bottom: -23px;
}
.quote .quote-triangle::after, .quote .quote-triangle::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 12px solid #fff;
    border-bottom: 12px solid transparent;
}


.quote .quote-description {

    max-width: 320px;
    position: relative;
    display: flex;
    margin: 20px 0 0 80px;
    color: #fff;
}
.quote .quote-description .quote-right {
    text-align: left;
}
.quote .quote-description {
    color: #fff;
}

.quote .quote-from {
    font-size: 16px;
    font-weight: 700;
    padding-top: 5px;
    width: 100%;
}
.quote .quote-description .quote-right {
    text-align: left;
}
.quote .quote-description {
    color: #fff;
}
.quote .quote-from {
    font-size: 16px;
    font-weight: 700;
    content: "";
    width: 0;
    height: 0;
    padding-top: 5px;
    width: 100%;
}


b, strong {
    font-weight: bolder;
}

.quote .quote-attribute {
    font-size: 16px;
}
.quote .quote-description .quote-right {
    text-align: left;
}
.quote .quote-description {
    color: #fff;
}


.quote.adjust {
    margin-left: 350px;
    margin-top: -100px;
    margin-right: 0;
}
.quote .single-quote-container {
    max-width: 800px;
    position: relative;
    background: #fff;
    border-radius: 15px;
    margin: 40px 25px 0;
    border: 1px solid #fff;
    }
    
.quote .quote-triangle.right::before {
    border-right: 15px solid transparent;
    border-left: 15px solid #fff;
    right: 29px;
}

.quote .quote-triangle::after, .quote .quote-triangle::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 12px solid #fff;
    border-bottom: 12px solid transparent;
}
.quote .quote-triangle::before {
    bottom: -24px;
}
.quote .quote-message {
    font-size: 20px;
    color: #464646;
    text-align: left;
    padding: 15px;
    
}
.quote .quote-message {
    font-size: 20px;
    color: #464646;
    text-align: left;
}
.quote .quote-triangle.right::after {
    border-right: 15px solid transparent;
    border-left: 14px solid #fff;
    right: 29px;
}

.quote .quote-triangle::after {
    bottom: -23px;
}
.quote .quote-triangle::after, .quote .quote-triangle::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    border-top: 12px solid #fff;
    border-bottom: 12px solid transparent;
}
.quote .quote-description.left {
    float: right;
    margin-right: 85px;
}
.quote .quote-description {
    max-width: 320px;
    position: relative;
    display: flex;
    margin: 20px 0 0 80px;
        margin-right: 0px;
    color: #fff;
}
.quote .quote-description .quote-left {
    text-align: right;
}
.quote .quote-left {
    padding-right: 15px;
}
.quote .quote-description {
    color: #fff;
}
.quote .quote-left .quote-from {
    padding-left: 0;
    padding-top: 12px;
}
.quote .quote-from {
    font-size: 16px;
    font-weight: 700;
    padding-top: 5px;
    width: 100%;
}
.quote .quote-description .quote-left {
    text-align: right;
}
.quote .quote-description {
    color: #fff;
}
b, strong {
    font-weight: bolder;
}
.quote .quote-from {
    font-size: 16px;
    font-weight: 700;
}
.quote .quote-description .quote-left {
    text-align: right;
}
.quote .quote-description {
    color: #fff;
}
.quote .quote-left .quote-attribute {
    padding-left: 0;
    font-size: 16px;
}
.quote .quote-attribute {
    font-size: 16px;
}
.quote .quote-description .quote-left {
    text-align: right;
}
.quote .quote-description {
    color: #fff;
}
.quote .quote-avatar {
    height: 67px;
    width: 67px;
    overflow: hidden;
    border-radius: 50px;
}
.quote .quote-description {
    color: #fff;
}
.quote .quote-description .quote-image {
    border-radius: 100px;
    height: 100%;
    display: block;
    margin: auto auto auto -11px;
}
img {
    border-style: none;
}
.quote .quote-description {
    color: #fff;
}
.quotes .clear {
    clear: both;
}
.quote .quote-from {
    font-size: 16px;
    font-weight: 700; 
    content: "";
   
    width: 0;
      
    height: 0;
      
    padding-top: 5px;
    width: 100%;
}
.quote .quote-left .quote-from {
    padding-left: 0;
    padding-top: 12px;
}
.quote .quote-from {
    font-size: 16px;
    font-weight: 700;
    width: 100%;
}

b, strong {
    font-weight: bolder;
}



.quote .quote-attribute {
    font-size: 16px;
}

.quote .quote-avatar {
    height: 90px;
    width: 80px;
    overflow: hidden;
    border-radius: 50px;
}


.quote .quote-description .quote-image {
    
    border-radius: 100px;
    height: 100%;
    display: block;
    margin: auto auto auto -60px;
}


/* schools-districts */

#schools-districts{
    background: url('./images/school-district-image.jpg');
    background-size: cover;

}
#schools-districts h1{
    text-align: center;
    padding-top: 50px;
}
#schools-districts img{
    margin-left: 42%;
    border-radius: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}
#schools-districts p{
    font-size: 1.5rem;
    text-align: center;
    margin-right: 20%;
    margin-left: 20%;
}
#schools-districts button{
    margin-left: 40%;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 20%;
    border: 2px solid white;
    border-radius: 25px;
    cursor: pointer;
}

/* Footer section */

.footer{
    background-color: gray;
    color: #fff;
    display: block;
    
}
.footer .container{
    height: 500px;
}
.footer .container h3{
    margin-left: 50px;
    padding-top: 50px;
    
}

.footer .container ul{
    display: flex;
    flex-direction: column;
    width:100%;
    
} 
.footer .container ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    line-height: 2;
}
.footer-bottom{
    background-color: black;
    height: 300px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
}
.footer-bottom  .fa{
    color: #fff;
    width: 70px;
    height: 70px;
}
    







 